body {
    margin: 0;
}

.projectPage_container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-color: black;
    height: 100vh;
}

.projectPage {
    display: flex;
    scroll-snap-align: end;
    height: 100vh;
    background-color:black;
    justify-content: center;
    align-items: center;
}

#P1content {
    height: 50vh;
    width: 50vw;
    background-color:dimgrey;
}

#P2content {
    height: 50vh;
    width: 50vw;
    background-color:dimgrey;
}

#P3content {
    height: 50vh;
    width: 50vw;
    background-color: dimgrey;
}

#P4content {
    height: 50vh;
    width: 50vw;
    background-color:dimgrey;
}

#P5content {
    height: 50vh;
    width: 50vw;
    background-color: dimgrey;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background:black;
}

::-webkit-scrollbar-thumb {
    background:grey;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}

